@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-y-auto {

    background-color: #ffff81;
    height: 620px;
};

.transacciones {
    display: flex;
    text-align: center;
}
.container{
    margin: 0px;
    flex: 1,
}
.welcome{
    font-size: 30px;
    color: red;
    text-align: center;
}